[Unit]
Description=Rapid SSH Proxy
After=syslog.target network.target 

[Service]
Type=notify
User=nobody
ExecStart=/usr/local/bin/rsp -I /var/lib/rsp/client_key -H /var/lib/rsp/known_hosts example.com 2222
Restart=always
KillMode=process
TimeoutStartSec=10
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
